---
import "./landing.scss";
import Logo3D from "../Logo3D";
---

<div class="Landing">
  <div class="phone-only-text">Welcome to</div>
  <div class="logo-cont"><Logo3D client:only="react" /></div>
  <div class="text-cont">
    <div class="pc-only-text">Welcome to</div>
    <span>EmGiCO.</span>
    <hr />
    <p>
      This website is a Work in Progress, expect regular updates to the website
    </p>
  </div>
</div>
