.ToC {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 1em;
  .sticker {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    // padding-top: 1em;
    //sticky
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .toggle {
      //sticky
      position: -webkit-sticky;
      position: sticky;
      top: 0;

      flex: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border: none;
      background: var(--crust);
      margin-top: 2rem;
      color: var(--rosewater);
      box-shadow: 0 0 4px 0 var(--crust);
      border-left: none;
      padding: 12px;
      border-radius: 0 12px 12px 0;

      svg {
        transform: rotate(90deg); /* Rotate the text to be right-side up */
      }
      span {
        writing-mode: vertical-rl; /* Make the text flow vertically from bottom to top */
        text-align: center; /* Center the text horizontally */
      }
    }
    .links-cont {
      flex: 1;
      margin-top: 2rem;
      box-shadow: 0 0 4px 0 var(--crust);
      min-height: 300px;
      background: var(--crust);
      padding: 12px;
      box-sizing: border-box;
      border-bottom-right-radius: 12px;
      .links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .nav-link {
          display: flex;
          padding: 0;
          flex-direction: row;
          justify-content: stretch;
          align-items: stretch;
          width: 100%;
          background: none;
          border: none;
          div {
            border: 1px solid var(--crust);
          }
          span {
            display: block;
            text-align: left;
          }
        }
      }

      &.closed {
        display: none;
      }
    }
  }
}
