---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { LOGO_SMALL } from "../assets/logos.tsx";
import SiteLogo from "./SiteLogo";
import "./header.scss";
---

<header>
	<nav>
		<HeaderLink href="/"><SiteLogo /></HeaderLink>
		<div class="internal-links">
			<HeaderLink href="/"><span>Home</span></HeaderLink>
			<HeaderLink href="/blog"><span>Blog</span></HeaderLink>
			<HeaderLink href="/about"><span>About</span></HeaderLink>
		</div>
	</nav>
</header>
