header {
  margin: 0;
  padding: 0 1em;
  box-shadow: 0 2px 8px rgba(var(--black), 5%);
  h2 {
    margin: 0;
    font-size: 1em;
  }
}

nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  a {
    text-decoration: none;
    padding: 8px;
  }
}

.social-links,
.social-links a {
  display: flex;
}
@media (max-width: 720px) {
  .social-links {
    display: none;
  }
}
