@import "atropos/scss";

.logo-3d-atropos {
  height: 100%;
  width: 100%;
}

span.atropos-inner {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.logo-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: contain;

  > svg {
    transform: rotate(-15deg) scale(0.7);
    width: 100%;
    height: 100%;
    object-fit: contain;

    > path {
      stroke: linear-gradient(black, white);
    }
  }
}
